#background-gradient {
  background: linear-gradient(#bddefa, #a6e9c0a8);

  height: 95vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: transparent;

  transition: 1500ms;
}

nav.scrolled {
  top: 10px;
  left: 30%;
  width: 40%;

  border-radius: 100px;

  background-color: rgba(240, 240, 240, 0.945);
}


#nav-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 0 auto;
  padding: 18px 0;
}

#navLogo {
  font-size: 18px;
  font-weight: 600;

  transition: 500ms;

  cursor: default;
}

#navLogo:hover {
  color: #61c0b5;
}

#navMenu {
  display: flex;
  flex-direction: row;

  list-style: none;

  color: black;

  gap: 20px;
}

#navToggle {
  display: none;
  cursor: pointer;
}

#get-started-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

#arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
}

@media (max-width: 900px) {
  #navMenu.open {
    display: flex;
  }
  #navMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgb(249, 249, 249);
    opacity: 95%;
    border-radius: 5px;
    gap: 0;
    padding: 10px 0;
    text-align: center;
  }

  .nav-menu.open {
    display: flex;
    background-color: #ffffff;
  }

  .nav-menu a {
    display: block;
    padding: 14px 24px;
  }

  #navToggle {
    display: flex;
    border: none;
    background-color: transparent;
  }
}

@media (max-width: 1500px) {
    
  #nav-div {
    width: none;
  }

  nav.scrolled {
  
    left: 15%;
    width: 70%;

  }

}